@using Microsoft.AspNetCore.Identity
@using FitNass.Areas.Identity.Data
@using Microsoft.EntityFrameworkCore;
@using FitNass.Services
@inject SignInManager<FitNassUser> SignInManager
@inject UserManager<FitNassUser> UserManager
@inject IUserService UserService
@inject IJSRuntime JSRuntime

<style>
    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
    .crop-dp {
        margin: 0 auto;
        float: none;
    }
    .crop-controls {
        background-color: gray; 
        border: none;
        color: white;
        cursor: pointer;
        padding: 6px 0px;
        outline: none !important;
    }
    .crop-controls:hover {
        background-color: black;
    }


</style>


<div class="card">
    <div class="card-body text-center">

        <div class="mb-2">
            @{

                if (TargetUser.Sex == "Female")
                {
                    <img src="/images/Blank-DP-Female.jpg" class="rounded-circle" alt="Female User" width="160" height="160" />
                }
                else if (TargetUser.Sex == "Male")
                {
                    <img src="/images/Blank-DP-Male.jpg" class="rounded-circle" alt="Male User" width="160" height="160" />
                }
                else
                {
                    <img src="/images/Blank-DP-Female.jpg" class="rounded-circle" alt="Others User" width="160" height="160" />
                }
            }
        </div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#dpModal">update dp</button>

        <div class="">
            <h4 class="card-title mb-3 font-weight-bold"> @TargetUser.FirstName @TargetUser.LastName</h4>

            <div>
                <p class="mb-0 font-weight-normal" style="white-space:pre-line; font-size:15px">@TargetUser.Biodata</p>
                @if (TargetUser.Biodata.Length > 0)
                {
                    <a href="#" class="" data-toggle="modal" data-target="#bioModal"><small>Edit Bio</small></a>
                }
                else
                {
                    <a href="#" class="" data-toggle="modal" data-target="#bioModal"><small>Add Bio</small></a>
                }

            </div>

        </div>

    </div>


    <div class="card-footer text-left" style="font-size:15px">

        <table class="table table-borderless  table-sm text-left" style="max-width:400px">
            <tbody>
                <tr>
                    <th scope="row"><i class="fa fa-user" aria-hidden="true"></i></th>
                    @if (TargetUser.Sex == "Male")
                    {
                        <td>Male</td>
                    }
                    else if (TargetUser.Sex == "Female")
                    {
                        <td>Female</td>
                    }
                    else
                    {
                        <td>Others</td>
                    }
                </tr>
                <tr>
                    <th scope="row"><i class="fa fa-address-book" aria-hidden="true"></i></th>
                    <td>@TargetUser.Location</td>
                </tr>
                <tr>
                    <th scope="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i></th>
                    <td>@TargetUser.DOB.ToString("m")</td>
                </tr>
                <tr>
                    <th scope="row"><i class="fa fa-link" aria-hidden="true"></i></th>
                    <td><span>@Link</span></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fa fa-envelope" aria-hidden="true"></i></th>
                    <td><span>@TargetUser.Email</span></td>
                </tr>

            </tbody>
        </table>

    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="bioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Biodata</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="BioEditTextClosed">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text" rows="6" maxlength="300" @bind="BioEditTextData"></textarea>
                    </div>
                    <button type="button" class="btn btn-success btn-block" data-dismiss="modal" @onclick="UpdateBio"><i class="fas fa-save"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Profile Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p class="text-center"><strong id="dpUploadStatus">No Image Uploaded Yet</strong></p>

                <div id="theparent" class="crop-dp border border-secondary w-75">

                    <div class="p-2">
                        <img id="dpUploadedImage" src="/images/Blank-User.png" />
                    </div>

                    <div class="btn-group  btn-block justify-content-between" role="group" aria-label="Basic example">

                        <button id='rotate-left' type="button" class="w-100 crop-controls" title="rotate left"><i class="fa fa-undo" aria-hidden="true"></i></button>
                        <button id='zoom-out' type="button" class="w-100 crop-controls" title="zoom out"><i class="fa fa-search-minus" aria-hidden="true"></i></button>
                        <button id='fit' type="button" class="w-100 crop-controls" title="reset"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
                        <button id='zoom-in' type="button" class="w-100 crop-controls" title="zoom in"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
                        <button id='rotate-right' type="button" class="w-100 crop-controls" title="rotate right"><i class="fa fa-redo" aria-hidden="true"></i></button>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <label for="dpFileSelector" class="btn btn-primary btn-block mt-2 text-nowrap" title="upload image"><i class="fas fa-upload"></i></label>
                <input type="file" id="dpFileSelector" accept="image/png, image/jpeg, image/jpg" hidden/>
                <button type="button" class="btn btn-success btn-block" title="save image"><i class="fas fa-save"></i></button>
            </div>
        </div>
    </div>
</div>



@code {


    [Parameter]
    public string Link { get; set; }

    private FitNassUser TargetUser { get; set; }

    @*private void IncrementCount() => currentCount++;*@

protected override void OnParametersSet()
{
    var user = UserService.GetUserByLink(Link);
    TargetUser = user;
    BioEditTextData = TargetUser.Biodata;

}


public string BioEditTextData { get; set; }
private void BioEditTextClosed()
{
    BioEditTextData = TargetUser.Biodata;
}
private void UpdateBio()
{
    UserService.SetBiodata(TargetUser, BioEditTextData);
}


protected override async Task OnAfterRenderAsync(bool firstRender)
{
    if (firstRender)
    {
        await JSRuntime.InvokeVoidAsync("userIntroJS");
    }
}



}
